* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

main {
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    max-width: 700px;
    font-size: 35px;
    padding: 30px;
    margin: 20px auto;
}

.main-text {
    max-width: 90%;
    display: flex;
    color: rgb(12, 12, 161);
    font-size: 19px;
    margin-bottom: 25px;
}

.characters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 136, 25);
    font-weight: bold;
    color: rgb(4, 4, 172);
    margin: 25px 0 25px 0;
    padding: 8px;
    font-size: 17px;
    border-radius: 3px;
    max-width: 90%;
}

.pictures {
    display: flex;
    justify-content: space-around;
}

.pictures img {
    width: 180px;
    height: 150px;
    align-items: center;
    margin: 0 50px 0 40px;
}

body {

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    background-color: orange;
    background: url("img/background.png");
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.buttons .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    margin: 0 50px 0 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;



}

.buttons .btn:hover {
    background-color: rgb(255, 136, 25);
    color: rgb(4, 4, 172);
    font-weight: bold;
}

.buttons .btn img {
    padding: 0;
    margin-left: 5px;
}


#campoTexto {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 200px 25px 0;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius:3px;


}



@media (max-width: 768px) {

    h1 {
        display: flex;
        max-width: 85%;
        background-color: rgb(255, 136, 25);
        padding: 2%;

    }

    .main-text {
        display: flex;
        background-color: rgb(255, 136, 25);
        max-width: 85%;


    }

    .characters {
        display: flex;
        max-width: 45%;
        max-height: 50%;
        justify-content: space-between;
        margin-left:25px;
    }

    .pictures {
        /*display: none;*/
        max-width: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1px;

    }

    .pictures img {
        display: flex;
        width: 140px;
        height: 100px;
        align-items: center;
        margin: 8px 1px 8px 1px;
        padding: 0px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 15px 25px 10px 30px;
        padding: 15px;
        align-items: center;
        max-width: 25%;

    }

    .buttons .btn {
        display: flex;
        margin: 40px 0 30px 30px;
        width: 180%;
        height: 80%;
        align-items: center;
        border-radius: 5px;

    }

    .buttons .btn img {
        width: 25px;
        margin: 5px;
    }

    .buttons .btn:hover {
        display: block;
    }

    #campoTexto {
        display: flex;
        max-width: 70%;
        justify-content: center;
        align-items: center;
        margin-right: 0%;

    }

    #campoTexto .retorno {
        max-width: 50%;
        max-height: 10%;
        margin-left: 20px;
        align-items: center;

    }

}