* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
header{

}
main {
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 2%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    font-size: 35px;
    padding: 30px;
    margin: 20px auto;
    background-color: rgb(255, 136, 25);
    border-radius: 3px;

}

.main-text {
    max-width: 80%;
    display: flex;
    color: black;
    font-size: 19px;
    margin: 20px 0;
    background-color: rgb(255, 136, 25);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding: 5px;
    align-items: center;
    width: 80%;

}

.characters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 136, 25);
    color: rgb(4, 4, 172);
    margin: 25px 0 25px 0;
    padding: 8px;
    border-radius: 3px;
    max-width: 100%;
    width: 80%;

}

.pictures {
    display: flex;
    justify-content: space-around;
}

.pictures img {
    width: 180px;
    height: 150px;
    align-items: center;
    margin: 0 40px 0 55px;
    border-radius: 3px;
}

body {
    background: url("https://i.pinimg.com/originals/59/11/f1/5911f1103c1a7c5d943d3d9d59c5f469.png");
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: rgb(255, 195, 83);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 100vh;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 0 10% 0 10%;

}

.buttons .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    margin: 0 40px 0 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;



}

.buttons .btn:hover {
    background-color: rgb(255, 136, 25);
    color: rgb(4, 4, 172);
    font-weight: bold;
}

.buttons .btn img {
    padding: 3px;
    margin-left: 3px;
    width:40px;
}


#campoTexto {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 200px 25px 0;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius:3px;

}

#radio{
    display:flex;
    flex-flow: column wrap;
    height: 180px;
    padding: 5px;
    margin: 10px 10px 0px 0px;
    align-content:flex-end;
    background-color: rgb(255, 136, 25,0.8);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}


#radio1{
    margin:3px 3px;
}
#radio2{
    margin:3px 3px;
}
#radio3{
    margin:3px 3px;
}

#radio4{
    margin:3px 3px;
}



/* settings mobile */


@media (max-width: 768px) {

    body {

        background-color: orange;
        background: url("https://i.pinimg.com/564x/2f/0b/e0/2f0be0c2e287871b3c9da38a3323dfea.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    #radio{
       display: none;
    }

    h1 {
        display: flex;
        max-width: 95%;
        background-color: rgb(255, 136, 25);
        padding: 2%;

    }


    main{
        max-width: 90%;
    }

    .main-text {
        display: flex;
        background-color: rgb(255, 136, 25);
        max-width: 95%;
        padding: 2%;
        width:auto;


    }

    .characters {
        display: flex;
        max-width: 55%;
        max-height: 50%;
        justify-content: space-between;
        margin-left:1%;
        width:44%;
    }

    .pictures {
        /*display: none;*/
        max-width: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1px;

    }

    .pictures img {
        display: flex;
        width: 125px;
        height: 100px;
        align-items: center;
        margin: 8px 1px 8px 1px;
        padding: 0px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 15px 25px 10px 25px;
        padding: 12px;
        align-items: center;
        max-width: 28%;

    }

    .buttons .btn {
        display: flex;
        margin: 40px 0 30px 18px;
        width: 180%;
        height: 150%;
        align-items: center;
        border-radius: 5px;

    }

    .buttons .btn img {
        width: 25px;
        margin: 5px;
    }

    .buttons .btn:hover {
        display: block;
    }

    #campoTexto {
        display: flex;
        max-width: 70%;
        justify-content: center;
        align-items: center;
        margin-right: 0%;

    }

    #campoTexto .retorno {
        max-width: 50%;
        max-height: 10%;
        margin-left: 20px;
        align-items: center;

    }

}