* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


#fundo {

    background-image: url("https://wallpaperaccess.com/full/3278756.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: table;
    width: 100%;
    height: 100vh;
}

h1 {
    max-width: 70%;
    margin: 30px 10px 10px 10px;
    color: rgb(156, 12, 12);
    background-color: salmon;
    font-size: 24px;
}

body {
    padding: 20px;
}

p {
    padding: 20px;
}

#divResultado {
    max-width: 800px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 120px 50px 80px 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
    background: #123B6F;
    color: rgba(255, 255, 255, 0.979);
    text-align:start;
}

#result {
    display: flex;
    padding: 20px;
}

#btn-container {
    display: flex;
    margin-left: 15%;
}

.btnEnviar {
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(209, 43, 43);
}

button {
    flex-direction: row;
    margin: 20px 20px 20px 80px;
    font-weight: bold;
    padding: 30px;
    background-color: #D12B2B;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.979);
}

button:hover {
    background: #123B6F;
}


.img{

    width: 250px;
    height: 250px;
    margin-left: 25%;
    padding: 5px;
}


/* mobile */

@media (max-width: 768px) {

    #fundo {
        display: flex;
        background-size: 150%;
        max-width: 100%;
        flex-direction: column;
        background-image: url('https://i.pinimg.com/564x/46/fb/db/46fbdb1b14c053535927042bcf5bbca0.jpg');
        background-repeat: repeat;

    }

    #divResultado {
        margin: 15% auto;
        padding: 0;
        width: 95%;
    }

    #result {
        display: flex;
        align-items: center;
    }

    #btn-container {
        display: flex;
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        margin-top: 10%;
    }

    button {
        display: flex;
        margin: 10% 45% 15% 10%;
        padding: 18%;

    }
    .img{
        width: 250px;
        height: 250px;
        margin-left: 10%;
        padding: 2px;
    }

}